<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIMATICA | Contacto</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    <link rel="icon" href="../img/3B.ico" type="image/x-icon">

</head>

<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="#"><img src="../img/3B.ico" alt="Open Book" style="width: 30px; height: auto;">TRIMATICA</a>
        </div>
        <div class="navbar-icons">
            <a href="javascript:void(0);" class="icon-sandwich" onclick="toggleMenu()">☰</a>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div class="main-content">
        <div class="contact-container">
            <h1>Contáctanos</h1>
            <div class="contact-info">
                <p>Si tienes alguna pregunta, por favor llena el formulario de contacto a continuación y nos pondremos
                    en contacto contigo lo antes posible.</p>
            </div>
            <div class="contact-form">
                <form id="contact-form">
                    <input type="text" id="name" name="from_name" placeholder="Tu nombre" required>
                    <input type="email" id="email" name="from_email" placeholder="Tu correo electrónico" required>
                    <textarea id="message" name="message_html" placeholder="Tu mensaje" required></textarea>
                    <button type="submit">Enviar Mensaje</button>
                </form>
            </div>
        </div>
        <br>
        <br>
    </div>

    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-section">
            <a href="https://www.facebook.com/people/Trim%C3%A1tica/100087115123309/?mibextid=LQQJ4d"
                class="social-icon"> <i class="fab fa-facebook fa-2x"></i></a>
            <a href="https://www.youtube.com/channel/UC5oYuIuP0mR7EqaA3ukv-aA" class="social-icon"><i
                    class="fab fa-youtube fa-2x"></i></a>
            <a href="https://www.instagram.com/trimaticaec/" class="social-icon"><i
                    class="fab fa-instagram fa-2x"></i></a>
            <a href="https://www.behance.net/trimaticaec" class="social-icon"><i
                    class="fa-brands fa-behance fa-2x"></i></a>
        </div>
        <div class="footer-section">
            <!-- Sección vacía -->
        </div>
        <div class="footer-section">
            <!-- Sección con texto de derechos de autor -->
            <p>© 2024 TRIMATICAB. Todos los derechos reservados.</p>
        </div>
    </footer>


    <div id="side-menu" class="side-nav">
        <a href="javascript:void(0)" class="btn-close" onclick="closeMenu()">×</a>
        <a href="../views/index.html">Inicio</a>
        <a href="../views/gallery.html">Galería</a>
        <a href="../views/contactus.html">Contacto</a>
        <!-- Más enlaces si es necesario -->
    </div>
    <script src="../js/script.js"></script>
    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
    <script type="text/javascript">
        emailjs.init("72UWt7VN90Evylsl_");
    </script>

    <script>

        document.getElementById('contact-form').addEventListener('submit', function (event) {
            event.preventDefault();

            // Validación simple (podrías mejorarla)
            var name = document.getElementById('name').value;
            var email = document.getElementById('email').value;
            var message = document.getElementById('message').value;

            if (name && email && message) {
                // Aquí es donde integrarías EmailJS o tu servicio de preferencia
                console.log(name, email , message)
                emailjs.sendForm('service_b5m3a2x', 'template_1ks81ae', this)
                    .then(function () {
                        alert('Mensaje enviado con éxito!');
                    }, function (error) {
                        alert('Ocurrió un error al enviar el mensaje: ' + JSON.stringify(error));
                    });
            } else {
                alert('Por favor completa todos los campos.');
            }
        });
    </script>
</body>

</html>
