<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIMATICA | Galería</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    <link rel="icon" href="../img/3B.ico" type="image/x-icon">

</head>

<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="#"><img src="../img/3B.ico" alt="Open Book" style="width: 30px; height: auto;">TRIMATICA</a>
        </div>
        <div class="navbar-icons">
            <a href="javascript:void(0);" class="icon-sandwich" onclick="toggleMenu()">☰</a>
        </div>
    </nav>
    <div class="main-content">
        <div class="gallery-container">
            <h1>Galería</h1>
            <div class="gallery">
                <div class="gallery-item">
                    <img src="../img/CATRINA 2022-1.jpg" onclick="openLightbox('../img/CATRINA 2022-1.jpg')" alt="Descripción">
                    <div class="text">
                        <h2>Catrina </h2>
                        <p>2023 (serie)</p>
                    </div>
                </div>
                <div class="gallery-item">
                    <img src="https://res.cloudinary.com/dbixvufby/image/upload/f_auto,q_auto/v1/trimatica/jp0fovgqlqgchh4utm3c" onclick="openLightbox('https://res.cloudinary.com/dbixvufby/image/upload/f_auto,q_auto/v1/trimatica/jp0fovgqlqgchh4utm3c')" alt="Descripción">
                    <div class="text">
                        <h2>Stations of the Cross</h2>
                        <p>2023 (serie)</p>
                    </div>
                </div>
                <div class="gallery-item">
                    <img src="https://res.cloudinary.com/dbixvufby/image/upload/f_auto,q_auto/v1/trimatica/vxpsnq5nqe0tuuqbmjsr" onclick="openLightbox('https://res.cloudinary.com/dbixvufby/image/upload/f_auto,q_auto/v1/trimatica/vxpsnq5nqe0tuuqbmjsr')" alt="Descripción">
                    <div class="text">
                        <h2>Stations of the Cross</h2>
                        <p>2023 (serie)</p>
                    </div>
                </div>
                <div class="gallery-item">
                    <img src="https://res.cloudinary.com/dbixvufby/image/upload/f_auto,q_auto/v1/trimatica/vnklbbcfr7oow9xhya4v" onclick="openLightbox('https://res.cloudinary.com/dbixvufby/image/upload/f_auto,q_auto/v1/trimatica/vnklbbcfr7oow9xhya4v')" alt="Descripción">
                    <div class="text">
                        <h2>Stations of the Cross</h2>
                        <p>2023 (serie)</p>
                    </div>
                </div>
                <div class="gallery-item">
                    <img src="https://res.cloudinary.com/dbixvufby/image/upload/f_auto,q_auto/v1/trimatica/fvs905n3nh8gmnvism40" onclick="openLightbox('https://res.cloudinary.com/dbixvufby/image/upload/f_auto,q_auto/v1/trimatica/fvs905n3nh8gmnvism40')" alt="Descripción">
                    <div class="text">
                        <h2>Stations of the Cross</h2>
                        <p>2023 (serie)</p>
                    </div>
                </div>
                <div class="gallery-item">
                    <img src="https://res.cloudinary.com/dbixvufby/image/upload/f_auto,q_auto/v1/trimatica/drx3hrnff6ipxavppsgc"  onclick="openLightbox('https://res.cloudinary.com/dbixvufby/image/upload/f_auto,q_auto/v1/trimatica/drx3hrnff6ipxavppsgc')" alt="Descripción">
                    <div class="text">
                        <h2>Stations of the Cross</h2>
                        <p>2023 (serie)</p>
                    </div>
                </div>
                <!-- Repite el bloque .gallery-item para cada imagen -->
            </div>
        </div>
    </div>
    <div id="lightbox" class="lightbox">
        <span class="close-btn" onclick="closeLightbox()">&times;</span>
        <img id="lightbox-img" src="" alt="Imagen en lightbox">
    </div>
    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-section">
            <a href="https://www.facebook.com/people/Trim%C3%A1tica/100087115123309/?mibextid=LQQJ4d"
                class="social-icon"> <i class="fab fa-facebook fa-2x"></i></a>
            <a href="https://www.youtube.com/channel/UC5oYuIuP0mR7EqaA3ukv-aA" class="social-icon"><i
                    class="fab fa-youtube fa-2x"></i></a>
            <a href="https://www.instagram.com/trimaticaec/" class="social-icon"><i
                    class="fab fa-instagram fa-2x"></i></a>
            <a href="https://www.behance.net/trimaticaec" class="social-icon"><i
                    class="fa-brands fa-behance fa-2x"></i></a>
        </div>
        <div class="footer-section">
            <!-- Sección vacía -->
        </div>
        <div class="footer-section">
            <!-- Sección con texto de derechos de autor -->
            <p>© 2024 TRIMATICAB. Todos los derechos reservados.</p>
        </div>
    </footer>


    <div id="side-menu" class="side-nav">
        <a href="javascript:void(0)" class="btn-close" onclick="closeMenu()">×</a>
        <a href="../views/index.html">Inicio</a>
        <a href="../views/gallery.html">Galería</a>
        <a href="../views/contactus.html">Contacto</a>
    </div>
    <script src="../js/script.js"></script>
</body>

</html>
