<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIMATICA | Home</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    <link rel="icon" href="../img/3B.ico" type="image/x-icon">

</head>

<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="#"><img src="../img/3B.ico" alt="Open Book" style="width: 30px; height: auto;">TRIMATICA</a>
        </div>
        <div class="navbar-icons">
            <a href="javascript:void(0);" class="icon-sandwich" onclick="toggleMenu()">☰</a>
        </div>
    </nav>

    <!-- Agrega esto debajo de tu navbar -->
    <header class="main-header">
<picture>
            <source srcset="../img/pixie-13.JPEG" media="(max-width: 480px)">
            <source srcset="../img/pixie-13.JPEG" media="(max-width: 768px)">
            <!-- La imagen por defecto para escritorio -->
            <img src="../img/pixiecut.png" alt="Descripción de la imagen">
          </picture>    </header>

    <!-- Contenido principal -->
    <div class="main-content">
        <!-- El contenido de tu página aquí -->
    </div>

    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-section">
            <a href="https://www.facebook.com/people/Trim%C3%A1tica/100087115123309/?mibextid=LQQJ4d" class="social-icon"> <i class="fab fa-facebook fa-2x"></i></a>
            <a href="https://www.youtube.com/channel/UC5oYuIuP0mR7EqaA3ukv-aA" class="social-icon"><i class="fab fa-youtube fa-2x"></i></a>
            <a href="https://www.instagram.com/trimaticaec/" class="social-icon"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="https://www.behance.net/trimaticaec" class="social-icon"><i class="fa-brands fa-behance fa-2x"></i></a>
        </div>
        <div class="footer-section">
            <!-- Sección vacía -->
        </div>
        <div class="footer-section">
            <!-- Sección con texto de derechos de autor -->
            <p>© 2024 TRIMATICAB. Todos los derechos reservados.</p>
        </div>
    </footer>


    <div id="side-menu" class="side-nav">
        <a href="javascript:void(0)" class="btn-close" onclick="closeMenu()">×</a>
        <a href="../views/index.html">Inicio</a>
        <a href="../views/gallery.html">Galería</a>
        <a href="../views/contactus.html">Contacto</a>
    </div>
    <script src="../js/script.js"></script>
</body>

</html>
