<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIMATICA | Video</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../fontawesome/css/all.css">
    <link rel="icon" href="../img/3B.ico" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand" style="flex-grow: 1; justify-content: center; display: flex;">
            <a href="#" style="margin: 0;"><img src="../img/3B.ico" alt="Open Book" style="width: 30px; height: auto;">TRIMATICA</a>
        </div>
        <div class="navbar-icons">
            <a href="javascript:void(0);" class="icon-sandwich" onclick="toggleMenu()">☰</a>
        </div>
    </nav>

    <header class="main-header">
        <!-- Aquí podría ir una imagen de portada relacionada con videos -->
        <picture>
            <img src="url_de_tu_imagen_de_video_aqui" alt="Producción de Video">
        </picture>
    </header>

    <div class="main-content">
        <h1>Servicios de Video</h1>
        <p>Descripción breve de los servicios de video que ofrece TRIMATICA, como producción, edición y postproducción.</p>
        
        <section class="video-gallery">
            <h2>Galería de Videos</h2>
            <div class="video-item">
                <a href="link_al_video_1">
                    <img src="url_de_la_miniatura_del_video_1" alt="Nombre del Video 1">
                    <p>Nombre del Video 1</p>
                </a>
            </div>
            <!-- Repetir para más videos -->
        </section>
        
        <section class="video-services">
            <h2>Nuestros Servicios</h2>
            <p>Detalles de los diferentes servicios de video, como grabación de eventos, comerciales, videoclips, etc.</p>
        </section>
        
        <section class="contact-us">
            <h2>Contacto</h2>
            <p>Si estás interesado en nuestros servicios de video, contáctanos:</p>
            <form action="URL_de_tu_servidor_de_formulario" method="post">
                <input type="text" name="name" placeholder="Tu nombre" required>
                <input type="email" name="email" placeholder="Tu correo electrónico" required>
                <textarea name="message" placeholder="Tu mensaje" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </section>
    </div>

    <!-- Footer -->
    <footer class="site-footer">
        <!-- Contenido del footer -->
    </footer>

    <div id="side-menu" class="side-nav">
        <!-- Menú lateral -->
    </div>
    
    <script src="../js/script.js"></script>
</body>
</html>
